html {
  background-color: #2e343f;
  color: white;
}

body {
  margin: 0;
}

a {
  color: white;
}

.container {
  font-size: 24px;
  margin-top: 60px;
  text-align: center;

  .profile {
    border-radius: 50%;
    cursor: pointer;
    height: 400px;
    width: 400px;
  }

  .links {
    line-height: 1.5;
    list-style: none;
    padding: 0;
  }

  .rotate {
    animation: rotation .8s cubic-bezier(0, 0.3, 0.2, 0.9) 0s 1 normal none running;
  }
}

@media screen and (max-width: 800px) {
  .container {
    font-size: 16px;

    .profile {
      height: 50%;
      width: 50%;
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
